.download {
  padding: 11rem 0 9rem;
  background: $gradient;
}
.download__header {
  color: #fff;
  padding: 0 0 5rem;

  @media (orientation:portrait) {
    padding-bottom: 7.5rem;
  }
}
.systems {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.systems__button {
  display: flex;
  align-items: center;
  background-color: #fff;
  flex: 0 0 36rem;
  cursor: pointer;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, .07);

  @media (orientation:portrait) {
    margin: 1.5rem;
    flex-shrink: 1;
  }
  @media (max-width: $mobile+px) {
    margin: 1.5rem 0;
  }
}
.systems__button:nth-child(2) {
  @media (orientation:landscape) {
    margin: 3rem;
  }
}
.systems__header {
  text-align: left;
  margin: 0;
}
.systems__icon {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #f7fafc;
  flex: 0 0 11.5rem;
  height: 11.5rem;
}
.systems__icon svg {
  height: 5.6rem;
}
.systems__icon .fill{
  fill: #777777;
  stroke: #DEE1E2;
  stroke-width: 3;
  stroke-miterlimit: 10;
}
.systems__icon .hover{
  fill: url(#SVGID_1_);
  stroke: #DEE1E2;
  stroke-width: 3;
  stroke-miterlimit: 10;
  opacity: 0;
  transition: opacity $transition-delay;
}
.systems__content {
  padding: 1em 1.5rem;
  flex: 0 1 auto;
}
.systems__content p{
  margin: 0;
}
.systems__button:hover .hover {
  opacity: 1;
}