include components

section.banner
    .container
        .col-2
            h1 A Powerful & Unique App Landing Template
            p.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

            -
                var elements = [
                    'Unlimited colors: banner with images, slider or video',
                    'Fully Responsive and powered by HTML5 and CSS3',
                    'Very easy to customize : set up in minutes'
                ]
            +list(elements)
            .button-container
                +button('Start Exploring Us')
        figure