section#download.download
    .container
        h2.download__header Download Giant App Now
        .systems
            .systems__button.systems__button_ios
                .systems__icon
                    include ../../img/_img-includes/ios_icon.svg
                .systems__content
                    h2.systems__header Download
                    p Download from app store

            .systems__button.systems__button_android
                .systems__icon
                    include ../../img/_img-includes/android_icon.svg
                .systems__content
                    h2.systems__header Download
                    p Download from play store

            .systems__button.systems__button_windows
                .systems__icon
                    include ../../img/_img-includes/win_icon.svg
                .systems__content
                    h2.systems__header Download
                    p Download from microsoft store