footer.footer
    .container
        .social-icons
            i.fa.fa-facebook
            i.fa.fa-twitter
            i.fa.fa-dribbble
            i.fa.fa-behance

        p Copyright © 2017  |  UXSEVEN - a sister concern of codepixar.com