section.video
    video(poster="img/poster.jpg", loop)
        //source(src="vid.mp4", type="video/mp4")
        //source(src="vid.ogv", type="video/ogg")
        | Элемент видео не поддерживается вашим браузером
        a(href="vid.mp4") Скачайте видео
    .video__play.gradient-button
        i.fa.fa-play