extends layouts/main

block variables
    - const pageTitle = 'Test'
    - const pageDescription = 'Page description'
    - const pageKeywords = 'List of keywords'

block content
    include modules/banner
    include modules/features
    include modules/dontleave
    include modules/screenshots
    include modules/pricing
    include modules/video
    include modules/testimonials
    include modules/download
